force-app/main/default/flows/Account_Before_Insert_Update_Region_Field_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Current_Region_Value</name>
        <label>Current Region Value</label>
        <locationX>264</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>CurrentRegiontext</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Looping_Picklist_values.Label</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Looping_Picklist_values</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Values</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Values</label>
        <locationX>176</locationX>
        <locationY>503</locationY>
        <assignNextValueToReference>currentItem_Filter_Values</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Picklist_Value</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Values.Value</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>$Record.ATI_Region__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Looping_Picklist_values</targetReference>
        </connector>
    </collectionProcessors>
    <environments>Default</environments>
    <interviewLabel>Account - Before Insert/Update - Region Field Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Before Insert/Update - Region Field Update</label>
    <loops>
        <name>Looping_Picklist_values</name>
        <label>Looping Picklist values</label>
        <locationX>176</locationX>
        <locationY>611</locationY>
        <collectionReference>Filter_Values</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Current_Region_Value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Region_text_Field_On_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Field_Definition_ID</name>
        <label>Get Field Definition ID</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Picklist_Value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityDefinitionId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>QualifiedApiName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATI_Region__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FieldDefinition</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Picklist_Value</name>
        <label>Get Picklist Value</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Field_Definition_ID.DurableId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PicklistValueInfo</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Region_text_Field_On_Account</name>
        <label>Update Region text Field On Account</label>
        <locationX>176</locationX>
        <locationY>911</locationY>
        <inputAssignments>
            <field>ATI_Sales_Region__c</field>
            <value>
                <elementReference>CurrentRegiontext</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Field_Definition_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ATI_Region__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Filter_Values</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PicklistValueInfo</objectType>
    </variables>
    <variables>
        <name>CurrentRegiontext</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
