force-app/main/default/flows/ATI_TAC_Assign_Inventory_Record_To_Case1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <description>Is record found from  Inventory</description>
        <name>Is_record_found</name>
        <label>Is record found?</label>
        <locationX>553</locationX>
        <locationY>330</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Inventory_record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Assign Inventory Record To Case</description>
    <environments>Default</environments>
    <interviewLabel>Assign Inventory Record To Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign Inventory Record To Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get Inventory record by Serial number or Vin number</description>
        <name>Get_Inventory_record</name>
        <label>Get Inventory record</label>
        <locationX>559</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_record_found</targetReference>
        </connector>
        <filterLogic>(2 AND 1 )OR (4 AND 3)</filterLogic>
        <filters>
            <field>WOD_2__Serial_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>case_serial_num</elementReference>
            </value>
        </filters>
        <filters>
            <field>WOD_2__Serial_Number__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>VIN__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>case_vin_num</elementReference>
            </value>
        </filters>
        <filters>
            <field>VIN__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WOD_2__Inventory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Assign_Value</name>
        <label>Assign Value</label>
        <locationX>212</locationX>
        <locationY>286</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>case_record_id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ATI_PrimarySL_Inventory__c</field>
            <value>
                <elementReference>Get_Inventory_record.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Case Record with related Inventory Record</description>
        <name>Update_Case_Record</name>
        <label>Update Case Record</label>
        <locationX>427</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Assign_Value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>case_record_id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ATI_TAC_Inventory_Serial_Number__c</field>
            <value>
                <elementReference>Get_Inventory_record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>433</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Inventory_record</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>case_record_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>case_serial_num</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>case_vin_num</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
