force-app/main/default/flows/ATI_Incentive_Quick_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Final_ProductID_Assignment</name>
        <label>Final ProductID Assignment</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>FInalProductID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedProduct_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_BatchCalcJobDefinition_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Final_ProductID_Assignment_with_lookup</name>
        <label>Final ProductID Assignment with lookup</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>FInalProductID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product_Lookip.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_BatchCalcJobDefinition_Record</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Cash_Back</name>
        <choiceText>Cash Rebate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cash Rebate</stringValue>
        </value>
    </choices>
    <choices>
        <name>ETC</name>
        <choiceText>ETC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ETC</stringValue>
        </value>
    </choices>
    <choices>
        <name>Fixed_Price</name>
        <choiceText>Fixed Price</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fixed Price</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Checks if user selected ETC product</description>
        <name>Is_ETC_Selected</name>
        <label>Is ETC Selected?</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Final_ProductID_Assignment_with_lookup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_Lookip.recordName</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>ETC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Final_ProductID_Assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_ETC_selected_to_mark_ETC_field</name>
        <label>Is ETC selected to mark ETC field</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Create_Benefit_Record_with_ETC_unchecked</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_Lookip.recordName</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>ETC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Benefit_Record_with_ETC_checked</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Used to quickly create a new Incentive benefit record.</description>
    <dynamicChoiceSets>
        <name>ActiveProducts</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Product2</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OpportunityLineItemChoiceSet</name>
        <dataType>String</dataType>
        <displayField>ATI_Product_Name__c</displayField>
        <filterLogic>1 AND (NOT(2))</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Incentive_Proposal_Record.ATI_Opportunity_Source__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ATI_Product_Name__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>ETC</stringValue>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputAssignments>
            <assignToReference>SelectedProduct_ID</assignToReference>
            <field>Product2Id</field>
        </outputAssignments>
        <valueField>Product2Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Incentive Quick Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Incentive Quick Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creates the related Benefit Record</description>
        <name>Create_Benefit_Record_with_ETC_checked</name>
        <label>Create Benefit Record with ETC checked</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <inputAssignments>
            <field>ATI_Description__c</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ATI_Incentive_Program__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BenefitValue</field>
            <value>
                <elementReference>Incentive_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Benefit_Type__c</field>
            <value>
                <elementReference>Incentive_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETC__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MaximumQualifyingValue</field>
            <value>
                <elementReference>Incentive_Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MinimumQualifyingValue</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Product_Lookip.recordName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId</field>
            <value>
                <elementReference>FInalProductID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProgramRebateTypeId</field>
            <value>
                <elementReference>Create_Incentive_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </inputAssignments>
        <object>ProgramRebateTypeBenefit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates the related Benefit Record</description>
        <name>Create_Benefit_Record_with_ETC_unchecked</name>
        <label>Create Benefit Record with ETC unchecked</label>
        <locationX>314</locationX>
        <locationY>1082</locationY>
        <inputAssignments>
            <field>ATI_Description__c</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ATI_Incentive_Program__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BenefitValue</field>
            <value>
                <elementReference>Incentive_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Benefit_Type__c</field>
            <value>
                <elementReference>Incentive_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MaximumQualifyingValue</field>
            <value>
                <elementReference>Incentive_Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MinimumQualifyingValue</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Product_Lookip.recordName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId</field>
            <value>
                <elementReference>FInalProductID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProgramRebateTypeId</field>
            <value>
                <elementReference>Create_Incentive_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </inputAssignments>
        <object>ProgramRebateTypeBenefit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates an Incentive Type Record</description>
        <name>Create_Incentive_Type</name>
        <label>Create Incentive Type</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Is_ETC_selected_to_mark_ETC_field</targetReference>
        </connector>
        <inputAssignments>
            <field>AggregateObjectName</field>
            <value>
                <stringValue>RebateMemberProductAggregate</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BenefitQualifierField</field>
            <value>
                <stringValue>TotalQuantity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CalcObjectId</field>
            <value>
                <elementReference>BatchJobID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CalculationBasis</field>
            <value>
                <stringValue>Payout</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CalculationMethod</field>
            <value>
                <stringValue>Retrospective</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CalculationType</field>
            <value>
                <stringValue>PerTransaction</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MeasureField</field>
            <value>
                <stringValue>TotalQuantity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Standard Benefit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RebateMeasureType</field>
            <value>
                <stringValue>AmountperUnit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RebateProgramId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </inputAssignments>
        <object>ProgramRebateType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Benefits</name>
        <label>Get All Benefits</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Incentive_Proposal_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ATI_Incentive_Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProgramRebateTypeBenefit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_BatchCalcJobDefinition_Record</name>
        <label>Get BatchCalcJobDefinition Record</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Incentive_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Aggregate_by_Product_and_Member_Demo</stringValue>
            </value>
        </filters>
        <object>BatchCalcJobDefinition</object>
        <outputAssignments>
            <assignToReference>BatchJobID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Incentive_Proposal_Record</name>
        <label>Get Incentive Proposal Record</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Quick_Add_Benefit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RebateProgram</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>Initiate the Quick Benefit add process</description>
        <name>Quick_Add_Benefit</name>
        <label>Quick Add Benefit</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_ETC_Selected</targetReference>
        </connector>
        <fields>
            <name>Quick_Create</name>
            <fieldText>&lt;p&gt;To quickly add an additional benefit that is part of the Opportunity, but not listed on the table below, enter the values on this form and click Finish to add the product. You can repeat for as many additional Incentive Products that you need to create.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Product_Lookip</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Product</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>ProgramRebateTypeBenefit</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <stringValue>ProgramRebateTypeBenefit</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ProductId</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Associated_Product</name>
            <choiceReferences>OpportunityLineItemChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Associated Product</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Product_Lookip.recordName</leftValueReference>
                    <operator>StartsWith</operator>
                    <rightValue>
                        <stringValue>ETC </stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Incentive_Type</name>
            <choiceReferences>Cash_Back</choiceReferences>
            <choiceReferences>ETC</choiceReferences>
            <choiceReferences>Fixed_Price</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Incentive Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Incentive_Quantity</name>
            <dataType>Number</dataType>
            <fieldText>Incentive Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Enter the amounts of units you would like to provide a cashback incentive for.&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Incentive_Value</name>
            <dataType>Number</dataType>
            <fieldText>Incentive Value</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Benefits</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ProgramRebateTypeBenefit</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Existing Incentives</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_All_Benefits</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-4382&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;MaximumQualifyingValue&quot;,&quot;guid&quot;:&quot;column-31f3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Quantity&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Maximum Range Value&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;BenefitValue&quot;,&quot;guid&quot;:&quot;column-b89d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Incentive Value&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Applied Benefit&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Benefits</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>BatchJobID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FInalProductID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Input record ID variable</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedProduct_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
