force-app/main/default/flows/ATI_SALES_Contact_Inactive_RPS_Red_Yellow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Contact will be Inactive if Visual Compliance Screening status is coming Red. Send email Notification in both the case if flag is Red or Yellow.</description>
        <name>Send_Email_Visual_Compliance_Status</name>
        <label>Send Email Visual Compliance Status Red/Yellow</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>Contact.ATI_Contact_Inactive_Visual_Compliance_Status_Red</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.ATI_Contact_Inactive_Visual_Compliance_Status_Red</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Contact will be Inactive if Visual Compliance Screening status is coming Red</description>
        <name>Send_Email_Visual_Compliance_Status_Red</name>
        <label>Send Email Visual Compliance Status Red</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>Contact.ATI_Contact_Inactive_Visual_Compliance_Status_Red</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.ATI_Contact_Inactive_Visual_Compliance_Status_Red</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <description>If Visual Compliance Screening Status is &apos;Red&apos;, it will mark Record Active field as &apos;No&apos;. If it is &apos;Green&apos; It will Update Verification status as &apos;PASS&apos;.</description>
        <name>Visual_Compliance_Status</name>
        <label>If Visual Compliance Status</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Update_Contact_Verification_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Green</defaultConnectorLabel>
        <rules>
            <name>Red</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ECUSTOMS__RPS_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Red</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_contact_as_Inactive</targetReference>
            </connector>
            <label>Red</label>
        </rules>
        <rules>
            <name>Yellow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ECUSTOMS__RPS_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yellow</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Visual_Compliance_Status</targetReference>
            </connector>
            <label>Yellow</label>
        </rules>
    </decisions>
    <description>Deactivate the contact if Descartes system sends RED flags. Sends the email notification in both the cases if flag is Red or Yelllow.</description>
    <environments>Default</environments>
    <interviewLabel>Contact Inactive RPS Red/Yellow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Visual Compliance Contact Activities</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Update contact as Inactive</description>
        <name>Update_contact_as_Inactive</name>
        <label>Update contact as Inactive</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Send_Email_Visual_Compliance_Status_Red</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>ECUSTOMS__RPS_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Red</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ATI_VC_Record_Status__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Verification Status to &apos;PASS&apos;</description>
        <name>Update_Contact_Verification_Status</name>
        <label>Update Verification Status</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>ECUSTOMS__RPS_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Red</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ATI_Sales_Verification_Status__c</field>
            <value>
                <stringValue>PASS</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Visual_Compliance_Status</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>ECUSTOMS__RPS_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Red</stringValue>
            </value>
        </filters>
        <filters>
            <field>ECUSTOMS__RPS_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Green</stringValue>
            </value>
        </filters>
        <filters>
            <field>ECUSTOMS__RPS_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yellow</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <description>Send Email to Account Owner if Account is Inactive</description>
        <name>SendEmailtoAccountOwner</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!$Record.Owner.FirstName},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Account became inactive now.&lt;/p&gt;</text>
    </textTemplates>
</Flow>
