force-app/main/default/flows/ATI_Account_Inactive_RPS_Red.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Send Email if RPS is Red</description>
        <name>Send_Email_if_RPS_is_Red</name>
        <label>Send Email if RPS is Red</label>
        <locationX>182</locationX>
        <locationY>1247</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>EmailIdList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>SenderEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>CRM Items Require a Compliance Officer’s Verification</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SendEmailtoAccountOwner</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Send Email if RPS is Red</description>
        <name>Send_Email_if_RPS_is_Triple_Red</name>
        <label>Send Email if RPS is Triple Red</label>
        <locationX>842</locationX>
        <locationY>1055</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>EmailIdList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>SenderEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>CRM Items Require a Compliance Officer’s Verification</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SendEmailtoAccountOwner</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Send Email if RPS is Yellow</description>
        <name>Send_Email_if_RPS_is_Yellow</name>
        <label>Send Email if RPS is Yellow</label>
        <locationX>1634</locationX>
        <locationY>1163</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>EmailIdList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>SenderEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>CRM Items Require a Compliance Officer’s Verification</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SendEmailtoAccountOwner</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <description>Assign email Ids to text variable.</description>
        <name>Assign_Email_Ids</name>
        <label>Assign Email Ids</label>
        <locationX>1854</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>EmailIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_email_ids.Recipient_Email_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_email_ids</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Sent email when Restricted party status changes</description>
        <name>Email_Notification_for_Unverified</name>
        <label>Email Notification for Unverified</label>
        <locationX>1766</locationX>
        <locationY>1055</locationY>
        <defaultConnectorLabel>Don&apos;t Sent Email</defaultConnectorLabel>
        <rules>
            <name>Sent_Email_yellow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.ECUSTOMS__RPS_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.ECUSTOMS__RPS_Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_if_RPS_is_Yellow</targetReference>
            </connector>
            <label>Sent Email</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Profile Name</description>
        <name>Is_Administrator</name>
        <label>Is Administrator?</label>
        <locationX>314</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>Update_Field_default</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.ECUSTOMS__RPS_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Double Red</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_account_as_Inactive_red</targetReference>
            </connector>
            <label>New Record</label>
        </rules>
        <rules>
            <name>Old_Record</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.ECUSTOMS__RPS_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Double Red</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.FirstName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ATI Sales Admin</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Field_old</targetReference>
            </connector>
            <label>Old Record</label>
        </rules>
    </decisions>
    <decisions>
        <description>If Verification Status is &apos;Verified&apos; then update the Verification Date and Verified by.</description>
        <name>Is_Verified</name>
        <label>Is Verified</label>
        <locationX>1568</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>Update_Fields_Unverified</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>VERIFIED</name>
            <conditionLogic>3 AND (1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ATI_Sales_Verification_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VERIFIED</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.ATI_Sales_Verification_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VERIFIED</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ECUSTOMS__RPS_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.ECUSTOMS__RPS_Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Verification_Status_Yellow</targetReference>
            </connector>
            <label>VERIFIED</label>
        </rules>
    </decisions>
    <decisions>
        <description>If Verification Status is &apos;Verified&apos; then update the Verification Date and Verified by.</description>
        <name>Pending_Verified_Status_check</name>
        <label>Pending Verified Status check</label>
        <locationX>2558</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>Update_Verification_Status_pending</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NOT VERIFIED</defaultConnectorLabel>
        <rules>
            <name>VERIFIED_PENDING</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ATI_Sales_Verification_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VERIFIED</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.ATI_Sales_Verification_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VERIFIED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Verification_Status</targetReference>
            </connector>
            <label>VERIFIED</label>
        </rules>
    </decisions>
    <decisions>
        <description>If Verification Status is &apos;FAIL&apos; then sent Email.</description>
        <name>Sent_Email</name>
        <label>Sent Email</label>
        <locationX>314</locationX>
        <locationY>1139</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FAIL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ATI_Sales_Verification_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FAIL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.ECUSTOMS__RPS_Results__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Red</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_if_RPS_is_Red</targetReference>
            </connector>
            <label>FAIL</label>
        </rules>
    </decisions>
    <decisions>
        <description>If Verification Status is &apos;FAIL&apos; then sent Email.</description>
        <name>Sent_Email_TripleRed</name>
        <label>Sent Email</label>
        <locationX>974</locationX>
        <locationY>947</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FAIL_TripleRed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ATI_Sales_Verification_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FAIL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.ECUSTOMS__RPS_Results__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Red</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_if_RPS_is_Triple_Red</targetReference>
            </connector>
            <label>FAIL</label>
        </rules>
    </decisions>
    <decisions>
        <description>If Visual Compliance Screening  Status is &apos;Red&apos;, it will mark Record Active field as &apos;No&apos;. If it is &apos;Green&apos; It will Update Verification status as &apos;PASS&apos;.
In case of Status &apos;Red&apos;/&apos;Yellow&apos; it will send email to record owner.</description>
        <name>Visual_Compliance_Status</name>
        <label>If Visual Compliance Status</label>
        <locationX>1766</locationX>
        <locationY>731</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>DoubleRed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ECUSTOMS__RPS_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Double Red</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Administrator</targetReference>
            </connector>
            <label>Double Red</label>
        </rules>
        <rules>
            <name>Triple_Red</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ECUSTOMS__RPS_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Triple Red</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Field_tripleRed</targetReference>
            </connector>
            <label>Triple Red</label>
        </rules>
        <rules>
            <name>Yellow</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ECUSTOMS__RPS_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yellow</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ECUSTOMS__RPS_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Red</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Verified</targetReference>
            </connector>
            <label>Yellow/Red</label>
        </rules>
        <rules>
            <name>Green</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ECUSTOMS__RPS_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Green</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ATI_Sales_Verification_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Verification_Status_Green</targetReference>
            </connector>
            <label>Green</label>
        </rules>
        <rules>
            <name>Pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ECUSTOMS__RPS_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pending_Verified_Status_check</targetReference>
            </connector>
            <label>Pending</label>
        </rules>
        <rules>
            <name>No_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ECUSTOMS__RPS_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Matches</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ATI_Sales_Verification_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>VERIFIED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_Info</targetReference>
            </connector>
            <label>No Matches</label>
        </rules>
    </decisions>
    <description>If Record flag is red/Yellow , It will send the email notification to record Owner and some other users as well.</description>
    <environments>Default</environments>
    <formulas>
        <name>HyperlinkUrl</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) &amp; &apos;/lightning/r/Account/&apos; &amp; {!$Record.Id} &amp; &apos;/view&apos;</expression>
    </formulas>
    <interviewLabel>Account Inactive RPS Red {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Inactive RPS Red</label>
    <loops>
        <description>Loop all email Ids which are coming from Custom Metadata</description>
        <name>Loop_email_ids</name>
        <label>Loop email ids</label>
        <locationX>1766</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_all_recipient_email_address</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Email_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Visual_Compliance_Status</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>get all recipient email address from Custom Metadata &apos;Recipient Email List&apos;</description>
        <name>Get_all_recipient_email_address</name>
        <label>Get all recipient email address</label>
        <locationX>1766</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_email_ids</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ATI_Email_Recipient_List__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Admin User Info</description>
        <name>Get_User_Info</name>
        <label>Get User Info</label>
        <locationX>2954</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Verification_Status_no_match</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SFDC ADMIN</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>User_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>Update Verification Status to &apos;FAIL&apos;</description>
        <name>Update_account_as_Inactive_red</name>
        <label>Update Field</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>Sent_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>ATI_Sales_Verification_Status__c</field>
            <value>
                <stringValue>FAIL</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ATI_VC_Record_Status__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Verification Status to &apos;FAIL&apos;</description>
        <name>Update_Field_default</name>
        <label>Update Field</label>
        <locationX>578</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>Sent_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>ATI_Sales_Verification_Status__c</field>
            <value>
                <elementReference>$Record__Prior.ATI_Sales_Verification_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Verification Status to &apos;FAIL&apos;</description>
        <name>Update_Field_old</name>
        <label>Update Field</label>
        <locationX>314</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>Sent_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>ATI_Sales_Verification_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ATI_Sales_Verification_Status__c</field>
            <value>
                <elementReference>$Record.ATI_Sales_Verification_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ATI_Sales_Verified_By__c</field>
            <value>
                <elementReference>$Record.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ATI_VC_Record_Status__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Verification Status to &apos;FAIL&apos;</description>
        <name>Update_Field_tripleRed</name>
        <label>Update Field</label>
        <locationX>974</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Sent_Email_TripleRed</targetReference>
        </connector>
        <inputAssignments>
            <field>ATI_Sales_Verification_Status__c</field>
            <value>
                <stringValue>FAIL</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ATI_VC_Record_Status__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Verification Status to &apos;UNVERIFIED&apos;</description>
        <name>Update_Fields_Unverified</name>
        <label>Update Fields</label>
        <locationX>1766</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>Email_Notification_for_Unverified</targetReference>
        </connector>
        <inputAssignments>
            <field>ATI_Sales_Verification_Status__c</field>
            <value>
                <stringValue>UNVERIFIED</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ATI_VC_Record_Status__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Verification Status to &apos;UNVERIFIED&apos;</description>
        <name>Update_Verification_Status</name>
        <label>Update Verification Status</label>
        <locationX>2426</locationX>
        <locationY>947</locationY>
        <inputAssignments>
            <field>ATI_Sales_Verification_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ATI_Sales_Verification_Status__c</field>
            <value>
                <stringValue>VERIFIED</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ATI_Sales_Verified_By__c</field>
            <value>
                <elementReference>$Record.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ATI_VC_Record_Status__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Verification Status to &apos;PASS&apos;</description>
        <name>Update_Verification_Status_Green</name>
        <label>Update Fields</label>
        <locationX>2162</locationX>
        <locationY>839</locationY>
        <inputAssignments>
            <field>ATI_Sales_Verification_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ATI_Sales_Verification_Status__c</field>
            <value>
                <stringValue>PASS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ATI_Sales_Verified_By__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ATI_VC_Record_Status__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Verification Status to &apos;VERIFIED&apos;</description>
        <name>Update_Verification_Status_no_match</name>
        <label>Update Verification Status</label>
        <locationX>2954</locationX>
        <locationY>947</locationY>
        <inputAssignments>
            <field>ATI_Sales_Verification_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ATI_Sales_Verification_Status__c</field>
            <value>
                <stringValue>VERIFIED</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ATI_Sales_Verified_By__c</field>
            <value>
                <elementReference>User_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ATI_VC_Record_Status__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Verification Status to &apos;UNVERIFIED&apos;</description>
        <name>Update_Verification_Status_pending</name>
        <label>Update Verification Status</label>
        <locationX>2690</locationX>
        <locationY>947</locationY>
        <inputAssignments>
            <field>ATI_Sales_Verification_Status__c</field>
            <value>
                <stringValue>UNVERIFIED</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ATI_VC_Record_Status__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Verification Status to &apos;UNVERIFIED&apos;</description>
        <name>Update_Verification_Status_Yellow</name>
        <label>Update Fields</label>
        <locationX>1370</locationX>
        <locationY>947</locationY>
        <inputAssignments>
            <field>ATI_Sales_Verification_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ATI_Sales_Verification_Status__c</field>
            <value>
                <stringValue>VERIFIED</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ATI_Sales_Verified_By__c</field>
            <value>
                <elementReference>$Record.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ATI_VC_Record_Status__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1640</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_all_recipient_email_address</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8) AND 9</filterLogic>
        <filters>
            <field>ECUSTOMS__RPS_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Red</stringValue>
            </value>
        </filters>
        <filters>
            <field>ECUSTOMS__RPS_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Green</stringValue>
            </value>
        </filters>
        <filters>
            <field>ECUSTOMS__RPS_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yellow</stringValue>
            </value>
        </filters>
        <filters>
            <field>ECUSTOMS__RPS_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>No Matches</stringValue>
            </value>
        </filters>
        <filters>
            <field>ECUSTOMS__RPS_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>ATI_Sales_Verification_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ECUSTOMS__RPS_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Double Red</stringValue>
            </value>
        </filters>
        <filters>
            <field>ECUSTOMS__RPS_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Triple Red</stringValue>
            </value>
        </filters>
        <filters>
            <field>WOD_2__Warranty_Account_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Send Email to Account Owner if Account is Inactive</description>
        <name>SendEmailtoAccountOwner</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!$Record.Owner.FirstName},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Testing&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: arial;&quot;&gt;The following CRM items require Compliance Officer Verification:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: arial;&quot;&gt;Account :&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;{!HyperlinkUrl}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: arial;&quot;&gt;{!$Record.ATI_Account_Name__c}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: arial;&quot;&gt;Thank you.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;img src=&quot;https://allisontransmissionenterprise--digcoredev.sandbox.file.force.com/sfc/servlet.shepherd/version/download/0686s000001kor6?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;Allison Logo + 360 Logo-smallest.jpg&quot; title=&quot;{!$Record.ATI_Account_Name__c}&quot;&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>EmailIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EmailIdVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ATI_Email_Recipient_List__mdt</objectType>
    </variables>
    <variables>
        <name>SenderEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>do-not-reply@allisontransmission.com</stringValue>
        </value>
    </variables>
    <variables>
        <description>Get User Id for system administartor</description>
        <name>User_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
