force-app/main/default/flows/ATI_Case_Create_Update_Automation_Async.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Vehicle_Information_from_NHTSA</name>
        <label>Get Vehicle Information from NHTSA</label>
        <locationX>871</locationX>
        <locationY>639</locationY>
        <actionName>ATI_TAC_VehicleInformation_Invocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Case_Vehicle_Information</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>vin</name>
            <value>
                <elementReference>$Record.ATI_TAC_VIN_Number__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ATI_TAC_VehicleInformation_Invocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <description>This decision will check the custom setting and skip the flow.</description>
        <name>Quick_Exit</name>
        <label>Quick Exit</label>
        <locationX>331</locationX>
        <locationY>324</locationY>
        <defaultConnector>
            <targetReference>Get_Vehicle_Information_from_NHTSA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Skipped</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.ATI_Record_Bypass_Settings__c.ATI_TAC_Flow_Skip__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Skipped</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CheckifVINNumberischanged</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!$Record.ATI_TAC_VIN_Number__c})</expression>
    </formulas>
    <interviewLabel>Case Create Update Automation Async {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Create Update Automation Async</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Case_Vehicle_Information</name>
        <label>Update Case Vehicle Information</label>
        <locationX>545</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>ATI_TAC_Vehicle_Information_Id__c</field>
            <value>
                <elementReference>Get_Vehicle_Information_from_NHTSA</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>600</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Quick_Exit</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>ATI_TAC_VIN_Number__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>vin_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
