force-app/main/default/flows/ATI_Case_Assign_Primary_Serial_Number.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <description>Checking if Primary Serial Number is blank or not</description>
        <name>Is_Primary_Serial_Number_blank</name>
        <label>Is Primary Serial Number blank?</label>
        <locationX>336</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ATI_TAC_Inventory_Serial_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Inventory_record</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is record found from  Inventory</description>
        <name>Is_record_found</name>
        <label>Is record found?</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Inventory_record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Assign the case primary serial number to ATI PrimarySL Inventory field. So that we can search the primary serial number in the global search.</description>
    <environments>Default</environments>
    <formulas>
        <name>UpperECU</name>
        <dataType>String</dataType>
        <expression>UPPER({!$Record.ATI_TAC_ecutcmsn__c})</expression>
    </formulas>
    <formulas>
        <name>UpperVin</name>
        <dataType>String</dataType>
        <expression>UPPER({!$Record.ATI_TAC_VIN_Number__c})</expression>
    </formulas>
    <interviewLabel>Case Assign Primary Serial Number {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Assign Primary Serial Number</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get Inventory record by Serial number or Vin number</description>
        <name>Get_Inventory_record</name>
        <label>Get Inventory record</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_record_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ATI_TAC_Inventory_Serial_Number__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WOD_2__Inventory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update Case Record with related Inventory Record</description>
        <name>Update_Case_Record</name>
        <label>Update Case Record</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ATI_PrimarySL_Inventory__c</field>
            <value>
                <elementReference>Get_Inventory_record.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_fields_to_capital</name>
        <label>Update fields to capital</label>
        <locationX>336</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Is_Primary_Serial_Number_blank</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>ATI_TAC_VIN_Number__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ATI_TAC_ecutcmsn__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ATI_TAC_VIN_Number__c</field>
            <value>
                <elementReference>UpperVin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ATI_TAC_ecutcmsn__c</field>
            <value>
                <elementReference>UpperECU</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_fields_to_capital</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>ATI_TAC_Inventory_Serial_Number__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ATI_TAC_VIN_Number__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ATI_TAC_ecutcmsn__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
