force-app/main/default/flows/ATI_Incentive_Proposal_Email_Reminder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_Reminder</name>
        <label>Send Email Reminder</label>
        <locationX>264</locationX>
        <locationY>576</locationY>
        <actionName>RebateProgram.ATI_Incentive_Proposal_Email_alert_Approval</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Loop_1.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RebateProgram.ATI_Incentive_Proposal_Email_alert_Approval</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Decision_1</name>
        <label>Decision 1</label>
        <locationX>396</locationX>
        <locationY>468</locationY>
        <defaultConnector>
            <targetReference>Loop_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_1.ATI_Approval_Submission_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>SubmissionDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Reminder</targetReference>
            </connector>
            <label>Outcome 1 of Decision 1</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>SubmissionDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() - 7</expression>
    </formulas>
    <interviewLabel>Incentive Proposal Email Reminder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Incentive Proposal Email Reminder</label>
    <loops>
        <name>Loop_1</name>
        <label>Loop 1</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <collectionReference>Get_Incentive_Proposal_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_1</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Incentive_Proposal_Record</name>
        <label>Get Incentive Proposal Record</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ATI_Processing_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submitted - Waiting for Approval</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RebateProgram</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Incentive_Proposal_Record</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-03-11</startDate>
            <startTime>08:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
</Flow>
