force-app/main/default/flows/Case_Creation_Automation_Async.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Vehicle_Information</name>
        <label>Create Vehicle Information</label>
        <locationX>961</locationX>
        <locationY>648</locationY>
        <actionName>ATI_TAC_VehicleInformation_Invocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Vehicle_Info_Record_after_NHTSA</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>vin</name>
            <value>
                <elementReference>$Record.ATI_TAC_VIN_Number__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ATI_TAC_VehicleInformation_Invocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Check_if_vin_found</name>
        <label>Check if vin found</label>
        <locationX>301</locationX>
        <locationY>540</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>record_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vin_id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_with_VIN</targetReference>
            </connector>
            <label>record found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_VIN_present</name>
        <label>Check if VIN present</label>
        <locationX>1273</locationX>
        <locationY>520</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Vehicle_Info_not_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ATI_TAC_VIN_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Vehicle_Information</targetReference>
            </connector>
            <label>Vehicle Info not present</label>
        </rules>
    </decisions>
    <decisions>
        <description>This decision will check the custom setting and skip the flow.</description>
        <name>Copy_1_of_Quick_Exit</name>
        <label>Copy 1 of Quick Exit</label>
        <locationX>895</locationX>
        <locationY>324</locationY>
        <defaultConnector>
            <targetReference>Get_related_Vehicle_Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Skipped</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.ATI_Record_Bypass_Settings__c.ATI_TAC_Flow_Skip__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Copy 1 of Skipped</label>
        </rules>
    </decisions>
    <decisions>
        <description>This decision will check the custom setting and skip the flow.</description>
        <name>Quick_Exit</name>
        <label>Quick Exit</label>
        <locationX>103</locationX>
        <locationY>324</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Get_related_Vehicle_Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Skipped</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.ATI_Record_Bypass_Settings__c.ATI_TAC_Flow_Skip__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Skipped</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Case Creation Automation Async {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Creation Automation Async</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Copy_1_of_Get_related_Vehicle_Info</name>
        <label>Copy 1 of Get related Vehicle Info</label>
        <locationX>301</locationX>
        <locationY>432</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_vin_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ATI_TAC_VIN_Number__c</elementReference>
            </value>
        </filters>
        <object>ATI_Vehicle_Information__c</object>
        <outputAssignments>
            <assignToReference>vin_id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_related_Vehicle_Info</name>
        <label>Get related Vehicle Info</label>
        <locationX>1093</locationX>
        <locationY>432</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_VIN_present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ATI_TAC_VIN_Number__c</elementReference>
            </value>
        </filters>
        <object>ATI_Vehicle_Information__c</object>
        <outputAssignments>
            <assignToReference>vin_id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Vehicle_Info_Record_after_NHTSA</name>
        <label>Get Vehicle Info Record after NHTSA</label>
        <locationX>1223</locationX>
        <locationY>678</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Vehicle_Information</elementReference>
            </value>
        </filters>
        <object>ATI_Vehicle_Information__c</object>
        <outputAssignments>
            <assignToReference>ModelYear</assignToReference>
            <field>ATI_TAC_Model_Year__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>970</locationX>
        <locationY>871</locationY>
        <inputAssignments>
            <field>ATI_TAC_Vehicle_Information_Id__c</field>
            <value>
                <elementReference>Create_Vehicle_Information</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ATI_Vehicle_Model_Year_Editable__c</field>
            <value>
                <elementReference>ModelYear</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_with_VIN</name>
        <label>Update Case with VIN</label>
        <locationX>169</locationX>
        <locationY>648</locationY>
        <inputAssignments>
            <field>ATI_TAC_Vehicle_Information_Id__c</field>
            <value>
                <elementReference>vin_id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>373</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Quick_Exit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ATI_TAC_VIN_Number__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Copy_1_of_Quick_Exit</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>600</triggerOrder>
    <variables>
        <name>ModelYear</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vin_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
