force-app/main/default/flows/Case_Response_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_email_to_the_end_user</name>
        <label>Send email to the end user</label>
        <locationX>789</locationX>
        <locationY>148</locationY>
        <actionName>Case.Create_case_response_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Create_case_response_Email_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <description>This decision will check the custom setting and skip the flow.</description>
        <name>Quick_Exit</name>
        <label>Quick Exit</label>
        <locationX>589</locationX>
        <locationY>159</locationY>
        <defaultConnector>
            <targetReference>Send_email_to_the_end_user</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Skipped</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.ATI_Record_Bypass_Settings__c.ATI_TAC_Flow_Skip__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Skipped</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Case Response Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Response Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>139</locationX>
        <locationY>61</locationY>
        <connector>
            <targetReference>Quick_Exit</targetReference>
        </connector>
        <filterLogic>(1 AND 3) OR 2</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ATI_TAC_Additional_Contact_Email__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ContactEmail</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>1500</triggerOrder>
</Flow>
