force-app/main/default/flows/Case_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Case_Resolved_Notification</name>
        <label>Send Case Resolved Notification</label>
        <locationX>1194</locationX>
        <locationY>1079</locationY>
        <actionName>Case.Case_Resolved_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Substatus_Changed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Resolved_Email_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <description>Assigns the Owner History Variables</description>
        <name>Assign_Queue_Owner_History_Values</name>
        <label>Assign Queue Owner History Values</label>
        <locationX>1634</locationX>
        <locationY>2171</locationY>
        <assignmentItems>
            <assignToReference>Record_Case_History.ATI_TAC_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record_Case_History.ATI_TAC_Start_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ATI_TAC_Ownership_Start_Time__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record_Case_History.ATI_TAC_End_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record_Case_History.ATI_TAC_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Previous_queue_name.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record_Case_History.ATI_TAC_Queue_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Launch_History_Record_Creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the Owner History Variables</description>
        <name>Assign_User_Owner_History_Values</name>
        <label>Assign Owner History Values</label>
        <locationX>1370</locationX>
        <locationY>2171</locationY>
        <assignmentItems>
            <assignToReference>Record_Case_History.ATI_TAC_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record_Case_History.ATI_TAC_Start_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ATI_TAC_Ownership_Start_Time__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record_Case_History.ATI_TAC_End_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record_Case_History.ATI_TAC_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Previous_Owner.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Launch_History_Record_Creation</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>This is created to keep track of the latest queue assignment to send if a status check is required.</description>
        <name>Case_latest_Owner_Queue_Update_needed</name>
        <label>Case latest Owner Queue Update needed?</label>
        <locationX>1634</locationX>
        <locationY>2579</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Current_Queue_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_current_Group_ID</targetReference>
            </connector>
            <label>Current Queue Owner</label>
        </rules>
        <rules>
            <name>Last_Queue_Owner</name>
            <conditionLogic>1 AND 3 AND (4 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.ATI_TAC_Latest_Group_Owner_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.ATI_TAC_Latest_Group_Owner_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Owner:Group.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Last_Group_ID</targetReference>
            </connector>
            <label>Last Queue Owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Owner_is_Queue</name>
        <label>Case Owner is Queue?</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Update_New_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Latest_Group_Owner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if the Owner has changed</description>
        <name>Has_Owner_Changed_or_CaseClosed</name>
        <label>Has Owner Changed or Case Closed</label>
        <locationX>1634</locationX>
        <locationY>1655</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Owner_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prior_Owner_Type</targetReference>
            </connector>
            <label>Yes Owner Changed</label>
        </rules>
        <rules>
            <name>Case_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prior_Owner_Type</targetReference>
            </connector>
            <label>Case Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Active</name>
        <label>Is Active?</label>
        <locationX>1722</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Substatus_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Uncheck_the_checkboxes</targetReference>
            </connector>
            <label>Yes - Active</label>
        </rules>
        <rules>
            <name>No_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Copy_1_of_Uncheck_the_checkboxes</targetReference>
            </connector>
            <label>No, New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Contact_Emails_Available</name>
        <label>Is Contact Emails Available?</label>
        <locationX>1106</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Send_Case_Resolved_Notification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Available</defaultConnectorLabel>
        <rules>
            <name>Not_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ATI_TAC_Additional_Contact_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Substatus_Changed</targetReference>
            </connector>
            <label>Not Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_resolved</name>
        <label>Is resolved?</label>
        <locationX>622</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Uncheck_the_checkboxes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Resolved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Uncheck_the_checkboxes</targetReference>
            </connector>
            <label>Yes, Resolved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Status_Changed</name>
        <label>Is Status Changed?</label>
        <locationX>1634</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Substatus_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Change_to_Resolved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Resolved_Time</targetReference>
            </connector>
            <label>Yes, Change to Resolved - verified</label>
        </rules>
        <rules>
            <name>Yes_Changed_from_resolved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Dates</targetReference>
            </connector>
            <label>Yes, Changed from resolved</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if this is a new case</description>
        <name>New_Case</name>
        <label>New Case</label>
        <locationX>1260</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_New_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_Check</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Owner_is_Queue</targetReference>
            </connector>
            <label>Yes - New Case</label>
        </rules>
        <rules>
            <name>Re_Opened_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_resolved</targetReference>
            </connector>
            <label>Re-Opened Case</label>
        </rules>
        <rules>
            <name>No_Existing_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_Check</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ATI_TAC_Metadata_Record</targetReference>
            </connector>
            <label>No - Existing Case</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines if the owner was previously a Queue or a User based Owner</description>
        <name>Prior_Owner_Type</name>
        <label>Prior Owner Type</label>
        <locationX>1634</locationX>
        <locationY>1955</locationY>
        <defaultConnector>
            <targetReference>Launch_History_Record_Creation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Previous_Owner</targetReference>
            </connector>
            <label>User Owner</label>
        </rules>
        <rules>
            <name>Queue_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Previous_queue_name</targetReference>
            </connector>
            <label>Queue Owner</label>
        </rules>
    </decisions>
    <decisions>
        <description>This decision will check the custom setting and skip the flow.</description>
        <name>Quick_Exit</name>
        <label>Quick Exit</label>
        <locationX>523</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>New_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Skipped</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.ATI_Record_Bypass_Settings__c.ATI_TAC_Flow_Skip__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Skipped</label>
        </rules>
    </decisions>
    <decisions>
        <name>Substatus_Changed</name>
        <label>Substatus Changed?</label>
        <locationX>1634</locationX>
        <locationY>1355</locationY>
        <defaultConnector>
            <targetReference>Has_Owner_Changed_or_CaseClosed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Changed_to_Waiting_Customer_Feedback</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.ATI_TAC_Sub_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Waiting Customer Feedback</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ATI_TAC_Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting Customer Feedback</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Primary_and_Secondary_notification_dates</targetReference>
            </connector>
            <label>Yes, Changed to Waiting Customer Feedback</label>
        </rules>
        <rules>
            <name>Yes_Changed_to_Resolved_Unverified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.ATI_TAC_Sub_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Resolved-Unverified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ATI_TAC_Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved-Unverified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Primary_and_Secondary_notification_dates</targetReference>
            </connector>
            <label>Yes, Changed to Resolved-Unverified</label>
        </rules>
        <rules>
            <name>Yes_Changed_from_Waiting_Customer_Feedback</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.ATI_TAC_Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting Customer Feedback</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ATI_TAC_Sub_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Waiting Customer Feedback</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.ATI_TAC_Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved-Unverified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ATI_TAC_Sub_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Resolved-Unverified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_the_notification_date_fields</targetReference>
            </connector>
            <label>Yes, Changed from Waiting Customer Feedback/Resolved-Unverified</label>
        </rules>
    </decisions>
    <description>Flow Case Automation</description>
    <environments>Default</environments>
    <formulas>
        <description>This will store the calculated date of sum of current date and the metadata field&apos;s value.</description>
        <name>CalculatedCaseCloseDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$Flow.CurrentDateTime})+{!Get_ATI_TAC_Metadata_Record.ATI_TAC_No_of_days_before_case_closed__c}</expression>
    </formulas>
    <formulas>
        <name>CalculatePrimaryNotifDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$Flow.InterviewStartTime})+{!Get_ATI_TAC_Metadata_Record.ATI_TAC_Days_for_Primary_reminder__c}</expression>
    </formulas>
    <formulas>
        <name>CalculateSecondaryNotifDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$Flow.InterviewStartTime})+{!Get_ATI_TAC_Metadata_Record.ATI_TAC_Days_for_Secondary_reminder__c}</expression>
    </formulas>
    <formulas>
        <description>Check if the case isnew</description>
        <name>New_Check</name>
        <dataType>Boolean</dataType>
        <expression>Isnew()</expression>
    </formulas>
    <interviewLabel>Case Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Automation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the &quot;Default&quot; record from the &quot;ATI_TAC_Metadata&quot;.</description>
        <name>Get_ATI_TAC_Metadata_Record</name>
        <label>Get ATI TAC Metadata Record</label>
        <locationX>1634</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Status_Changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ATI_TAC_Metadata__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the previous owner Name</description>
        <name>Get_Previous_Owner</name>
        <label>Get Previous Owner</label>
        <locationX>1370</locationX>
        <locationY>2063</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_User_Owner_History_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the text name of the previous queue</description>
        <name>Get_Previous_queue_name</name>
        <label>Get Previous queue name</label>
        <locationX>1634</locationX>
        <locationY>2063</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Queue_Owner_History_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Assign current group id to Latest Group Owner field.</description>
        <name>Assign_current_Group_ID</name>
        <label>Assign current Group ID</label>
        <locationX>1370</locationX>
        <locationY>2687</locationY>
        <inputAssignments>
            <field>ATI_TAC_Latest_Group_Owner_Name__c</field>
            <value>
                <elementReference>$Record.Owner:Group.Name</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Assign last group id to Latest Group Owner field.</description>
        <name>Assign_Last_Group_ID</name>
        <label>Assign Last Group ID</label>
        <locationX>1634</locationX>
        <locationY>2687</locationY>
        <inputAssignments>
            <field>ATI_TAC_Latest_Group_Owner_Name__c</field>
            <value>
                <elementReference>$Record__Prior.Owner:Group.Name</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Uncheck_the_checkboxes</name>
        <label>Copy 1 of Uncheck the checkboxes</label>
        <locationX>1458</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Substatus_Changed</targetReference>
        </connector>
        <inputAssignments>
            <field>ATI_TAC_Case_Resolved_Checkbox__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Primary_and_Secondary_notification_dates</name>
        <label>Copy 1 of Update Primary and Secondary notification dates</label>
        <locationX>1502</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>Has_Owner_Changed_or_CaseClosed</targetReference>
        </connector>
        <inputAssignments>
            <field>ATI_TAC_Date_of_Primary_Reminder__c</field>
            <value>
                <elementReference>CalculatePrimaryNotifDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ATI_TAC_Date_of_Secondary_Reminder__c</field>
            <value>
                <elementReference>CalculateSecondaryNotifDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Uncheck_the_checkboxes</name>
        <label>Copy 2 of Uncheck the checkboxes</label>
        <locationX>490</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_New_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>ATI_TAC_Case_Close_Checkbox__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Remove Auto Close and notification dates.</description>
        <name>Remove_Dates</name>
        <label>Remove Dates</label>
        <locationX>1722</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Is_Active</targetReference>
        </connector>
        <inputAssignments>
            <field>ATI_TAC_Auto_Close_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ATI_TAC_Date_of_Primary_Reminder__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ATI_TAC_Date_of_Secondary_Reminder__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_the_notification_date_fields</name>
        <label>Remove the notification date fields</label>
        <locationX>1766</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>Has_Owner_Changed_or_CaseClosed</targetReference>
        </connector>
        <inputAssignments>
            <field>ATI_TAC_Date_of_Primary_Reminder__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ATI_TAC_Date_of_Secondary_Reminder__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Uncheck_the_checkboxes</name>
        <label>Uncheck the checkboxes</label>
        <locationX>754</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_New_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>ATI_TAC_Case_Close_Checkbox__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ATI_TAC_Case_Resolved_Checkbox__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update the Auto Close Date by adding current date with the custom metadata field data.</description>
        <name>Update_Auto_Close_Date</name>
        <label>Update Auto Close Date</label>
        <locationX>1106</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Is_Contact_Emails_Available</targetReference>
        </connector>
        <inputAssignments>
            <field>ATI_TAC_Auto_Close_Date__c</field>
            <value>
                <elementReference>CalculatedCaseCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Latest_Group_Owner</name>
        <label>Update Latest Group Owner</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_New_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>ATI_TAC_Latest_Group_Owner_Name__c</field>
            <value>
                <elementReference>$Record.Owner:Group.Name</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updates New case with the start</description>
        <name>Update_New_Case</name>
        <label>Update New Case</label>
        <locationX>1260</locationX>
        <locationY>3071</locationY>
        <inputAssignments>
            <field>ATI_TAC_Ownership_Start_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the time an ownership change takes place</description>
        <name>Update_Ownership_Change_Time</name>
        <label>Update Ownership Change Time</label>
        <locationX>1634</locationX>
        <locationY>2471</locationY>
        <connector>
            <targetReference>Case_latest_Owner_Queue_Update_needed</targetReference>
        </connector>
        <inputAssignments>
            <field>ATI_TAC_Ownership_Start_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Primary_and_Secondary_notification_dates</name>
        <label>Update Primary and Secondary notification dates</label>
        <locationX>1238</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>Has_Owner_Changed_or_CaseClosed</targetReference>
        </connector>
        <inputAssignments>
            <field>ATI_TAC_Date_of_Primary_Reminder__c</field>
            <value>
                <elementReference>CalculatePrimaryNotifDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ATI_TAC_Date_of_Secondary_Reminder__c</field>
            <value>
                <elementReference>CalculateSecondaryNotifDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Resolved_Time</name>
        <label>Update Resolved Time</label>
        <locationX>1106</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Update_Auto_Close_Date</targetReference>
        </connector>
        <inputAssignments>
            <field>ATI_TAC_Resolved_Time__c</field>
            <value>
                <elementReference>$Flow.InterviewStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>397</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Quick_Exit</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>Launches the history record creation</description>
        <name>Launch_History_Record_Creation</name>
        <label>Launch History Record Creation</label>
        <locationX>1634</locationX>
        <locationY>2363</locationY>
        <connector>
            <targetReference>Update_Ownership_Change_Time</targetReference>
        </connector>
        <flowName>Case_Create_Owner_History_Record</flowName>
        <inputAssignments>
            <name>Record_Case_History</name>
            <value>
                <elementReference>Record_Case_History</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <description>Variable to hold the elements of the Ownership History record</description>
        <name>Record_Case_History</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ATI_TAC_Ownership_History__c</objectType>
    </variables>
</Flow>
