force-app/main/default/flows/Case_Resolution_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>58.0</apiVersion>
    <choices>
        <name>Closed_Picklist</name>
        <choiceText>Closed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Resolved</name>
        <choiceText>Resolved</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Resolved</stringValue>
        </value>
    </choices>
    <choices>
        <name>Resolved_Unverified</name>
        <choiceText>Resolved-Unverified</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Resolved-Unverified</stringValue>
        </value>
    </choices>
    <choices>
        <name>Resolved_Verified</name>
        <choiceText>Resolved-Verified</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Resolved-Verified</stringValue>
        </value>
    </choices>
    <choices>
        <name>SE_Review</name>
        <choiceText>SE Review</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SE Review</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Status_Change</name>
        <label>Check Status Change</label>
        <locationX>650</locationX>
        <locationY>488</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Resolved_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Resolved</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Resolve_Case</targetReference>
            </connector>
            <label>Resolved</label>
        </rules>
        <rules>
            <name>Closed_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Closed_Picklist</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Case</targetReference>
            </connector>
            <label>Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_the_status</name>
        <label>check the status</label>
        <locationX>300</locationX>
        <locationY>331</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>status_is_Resolved_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Resolved_status_Screen</targetReference>
            </connector>
            <label>status is Resolved - present</label>
        </rules>
        <rules>
            <name>status_is_not_Resolved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Resolution_Screen</targetReference>
            </connector>
            <label>status is not Resolved</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>picklistResolutionType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ATI_TAC_Resolution_Type__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Case Resolution Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Resolution Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>310</locationX>
        <locationY>210</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_the_status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Close_Case</name>
        <label>Close Case</label>
        <locationX>884</locationX>
        <locationY>580</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ATI_TAC_Case_Close_Checkbox__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ATI_TAC_Case_Resolved_Checkbox__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ATI_TAC_Resolution_Description__c</field>
            <value>
                <elementReference>Resolution_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ATI_TAC_Resolution_Type__c</field>
            <value>
                <elementReference>Resolution_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ATI_TAC_Sub_Status__c</field>
            <value>
                <stringValue>Resolved-Verified</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Resolve_Case</name>
        <label>Resolve Case</label>
        <locationX>878</locationX>
        <locationY>348</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ATI_TAC_Case_Resolved_Checkbox__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ATI_TAC_Resolution_Description__c</field>
            <value>
                <elementReference>Resolution_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ATI_TAC_Resolution_Type__c</field>
            <value>
                <elementReference>Resolution_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ATI_TAC_Sub_Status__c</field>
            <value>
                <elementReference>Resolved_Sub_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Resolved</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Resolution_Screen</name>
        <label>Resolution Screen</label>
        <locationX>477</locationX>
        <locationY>485</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Status_Change</targetReference>
        </connector>
        <fields>
            <name>Resolution_Type</name>
            <choiceReferences>picklistResolutionType</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Problem Solved</stringValue>
            </defaultValue>
            <fieldText>Resolution Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Resolution_Description</name>
            <defaultValue>
                <stringValue>{!Get_Case.ATI_TAC_Resolution_Description__c}</stringValue>
            </defaultValue>
            <fieldText>Resolution Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Status</name>
            <choiceReferences>Resolved</choiceReferences>
            <choiceReferences>Closed_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Resolved_Sub_Status</name>
            <choiceReferences>Resolved_Unverified</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Resolved_Unverified</defaultSelectedChoiceReference>
            <fieldText>Resolved Sub-Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Resolved</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Resolved_status_Screen</name>
        <label>Resolved status Screen</label>
        <locationX>65</locationX>
        <locationY>488</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>closed</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(247, 10, 10); font-size: 18px;&quot;&gt;﻿Status is already Resolved. Please Click on &quot;Close Case&quot; Button to close it if verified.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>184</locationX>
        <locationY>88</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>getStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
