force-app/main/default/flows/Claim_Line_Population.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <description>Populates Claim Line Item information</description>
    <environments>Default</environments>
    <formulas>
        <description>Renders true if serial number etc match is found.</description>
        <name>Formula_DuplicateCheck</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Get_Claim_Lines.Id}=&quot;&quot;,FALSE,TRUE)</expression>
    </formulas>
    <formulas>
        <description>Uses the Incentive Benefit Value if the there is no dollar value input</description>
        <name>Formula_Value</name>
        <dataType>Number</dataType>
        <expression>If(ISBLANK({!$Record.Price__c}),{!Get_PIBT.BenefitValue},{!$Record.Price__c})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Claim Line Population {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Claim Line Population</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Checks for any Claim Line items for the existing serial number</description>
        <name>Get_Claim_Lines</name>
        <label>Get Claim Lines</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Claim_Line</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Serial_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Serial_Number__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ETC__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ETC__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Claim_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the Inventory record of the Serial Number</description>
        <name>Get_Inventory</name>
        <label>Get Inventory</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Inventory_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WOD_2__Serial_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Serial_Number__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WOD_2__Inventory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the inventory product record</description>
        <name>Get_Inventory_Product</name>
        <label>Get Inventory Product</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_PIBT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Inventory.Build_model__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the proposal incentive benefit type record related to this item</description>
        <name>Get_PIBT</name>
        <label>Get PIBT</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Claim_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ATI_Incentive_Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Claim__r.Incentive_Proposal__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Inventory_Product.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ETC__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ETC__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProgramRebateTypeBenefit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates Inventory detail from the Inventory record onto the claim line item</description>
        <name>Update_Claim_Line</name>
        <label>Update Claim Line</label>
        <locationX>176</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>ATI_Proposal_Incentive_Type_Benefit__c</field>
            <value>
                <elementReference>Get_PIBT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duplicate_Claim__c</field>
            <value>
                <elementReference>Formula_DuplicateCheck</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inventory__c</field>
            <value>
                <elementReference>Get_Inventory.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price__c</field>
            <value>
                <elementReference>Formula_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>Get_Inventory_Product.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vocation_Code__c</field>
            <value>
                <elementReference>Get_Inventory.ATI_Vocation_Code__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Inventory</targetReference>
        </connector>
        <object>Claim_Line_Item__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
