force-app/main/default/flows/Claim_Header_Submission_Date_Calculation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Error_Email</name>
        <label>Send Error Email</label>
        <locationX>314</locationX>
        <locationY>1166</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>do-not-reply@allisontransmission.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Error occurred in claim calculation</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ErrorEmail</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <description>Checking the record if it has error</description>
        <name>Count_Record</name>
        <label>Count Record</label>
        <locationX>402</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>CountNumberOfRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_claim_line_items</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_grace_days_of_claim_line_item_Transactional_grace_days_of_Incentive_pro</name>
        <label>Check if grace days of claim line item &gt; Transactional grace days of Incentive proposal</label>
        <locationX>534</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Loop_through_claim_line_items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Grace_days_greater_than_Transactional</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_claim_line_items.ATI_Grace_Days1__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>TransactionalGraceDaysFromIncentiveProposal</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Count_Record</targetReference>
            </connector>
            <label>Grace days greater than Transactional</label>
        </rules>
    </decisions>
    <decisions>
        <name>Grace_greater_transactional</name>
        <label>Is grace days greater than transactional</label>
        <locationX>314</locationX>
        <locationY>950</locationY>
        <defaultConnector>
            <targetReference>Update_claim_header</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Submit for approval</defaultConnectorLabel>
        <rules>
            <name>Throw_error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountNumberOfRecords</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_field_to_throw_validation</targetReference>
            </connector>
            <label>Throw error</label>
        </rules>
    </decisions>
    <description>This flow will calculate the grace period is the period between the In-Service Date and the actual submission date.If one tried to submit a claim which the calculated grace period is higher than the Grace Period that was approved with the incentive, the claim should not proceed.</description>
    <environments>Default</environments>
    <formulas>
        <name>Counter</name>
        <dataType>Number</dataType>
        <expression>{!CountNumberOfRecords}+1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Claim Header Submission Date Calculation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Claim Header Submission Date Calculation</label>
    <loops>
        <name>Loop_through_claim_line_items</name>
        <label>Loop through claim line items</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_claim_line_items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_grace_days_of_claim_line_item_Transactional_grace_days_of_Incentive_pro</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Grace_greater_transactional</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_claim_header</name>
        <label>Get claim header</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_claim_line_items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ATI_C_E__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_claim_line_items</name>
        <label>Get claim line items</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Incentive_Proposal_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Claim__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Claim_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Incentive_Proposal_Record</name>
        <label>Get Incentive Proposal Record</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_claim_line_items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_claim_header.Incentive_Proposal__r.Id</elementReference>
            </value>
        </filters>
        <object>RebateProgram</object>
        <outputAssignments>
            <assignToReference>TransactionalGraceDaysFromIncentiveProposal</assignToReference>
            <field>GracePeriodDayCount</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_claim_header</name>
        <label>Update claim header</label>
        <locationX>578</locationX>
        <locationY>1058</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ATI_Grace_Transactional__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <object>ATI_C_E__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_field_to_throw_validation</name>
        <label>update field to throw validation</label>
        <locationX>50</locationX>
        <locationY>1058</locationY>
        <faultConnector>
            <targetReference>Send_Error_Email</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ATI_Grace_Transactional__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <object>ATI_C_E__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_claim_header</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ErrorEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi,&lt;/p&gt;&lt;pre class=&quot;ql-syntax&quot; spellcheck=&quot;false&quot;&gt;An error occurred for during claim header calculation flow.
{!$Flow.CurrentDateTime} - {!recordId}

Running User: {!$User.FirstName}
Error: {!$Flow.FaultMessage}
Error Time: {!$Flow.CurrentDateTime}
&lt;/pre&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thanks,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CountNumberOfRecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentItem_Final_List</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Claim_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TransactionalGraceDaysFromIncentiveProposal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
