force-app/main/default/flows/Incentive_Program_Builder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <description>Assigns the Benefit Details</description>
        <name>Assign_Benefit_Detail</name>
        <label>Assign Benefit Detail</label>
        <locationX>264</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>Record_Benefit.ATI_Incentive_Program__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Incentive_Program</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record_Benefit.BenefitValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cashback_Amount_Per_Unit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record_Benefit.ProgramRebateTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_Parsed_Benefit_Type_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record_Benefit.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opportunity_Products_for_Benefits.Product2.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record_Benefit.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record_Benefit.MinimumQualifyingValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record_Benefit.MaximumQualifyingValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Incentive_Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record_Benefit.ProductId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_Dependant_Product</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record_Benefit.Benefit_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Incentive_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record_Benefit.ETC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_ETC</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Benefit_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the ID&apos;s of all Incentive Type Records to a variable string to be parsed.</description>
        <name>Assign_ID_s_to_variable_string</name>
        <label>Assign ID&apos;s to variable string</label>
        <locationX>264</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>Var_ID_String</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Created_Incentive_Type_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Created_Incentive_Type_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the values for an Incentive Type record</description>
        <name>Assign_Incentive_Type</name>
        <label>Assign Incentive Type</label>
        <locationX>264</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>record_Incentive_Type.AggregateObjectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RebateMemberProductAggregate</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>record_Incentive_Type.BenefitQualifierField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TotalQuantity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>record_Incentive_Type.CalcObjectId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>9N16s000000KyjoCAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>record_Incentive_Type.CalculationBasis</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Payout</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>record_Incentive_Type.CalculationMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Retrospective</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>record_Incentive_Type.CalculationType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PerTransaction</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>record_Incentive_Type.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Standard Benefit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>record_Incentive_Type.RebateMeasureType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AmountperUnit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>record_Incentive_Type.RebateProgramId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Incentive_Program</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>record_Incentive_Type.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>record_Incentive_Type.MeasureField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TotalQuantity</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Record_Variable_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the Record Variable to the collection</description>
        <name>Assign_Record_Variable_to_Collection</name>
        <label>Assign Record Variable to Collection</label>
        <locationX>264</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Collection_Incentive_Type</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>record_Incentive_Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Opportunity_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the Benefit Record to a Collection</description>
        <name>Assign_to_Benefit_to_Collection</name>
        <label>Assign to Benefit to Collection</label>
        <locationX>264</locationX>
        <locationY>2138</locationY>
        <assignmentItems>
            <assignToReference>Collection_Benefits</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Record_Benefit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ID_String</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_Trim_ID_String</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ProductID</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Opportunity_Products_for_Benefits</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CashBack</name>
        <choiceText>Cash Back</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cash Back</stringValue>
        </value>
    </choices>
    <choices>
        <description>ETC</description>
        <name>ETC</name>
        <choiceText>ETC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ETC</stringValue>
        </value>
    </choices>
    <choices>
        <name>Fixed_Price</name>
        <choiceText>Fixed Price</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fixed Price</stringValue>
        </value>
    </choices>
    <description>Flow that Creates an Incentive Program based on the Opportunity Products added</description>
    <dynamicChoiceSets>
        <description>Choice that displays all related Opportunity products</description>
        <name>Choice_OppProducts</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ATI_Associate_to_Parent_Model__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputAssignments>
            <assignToReference>Var_ProductID</assignToReference>
            <field>Product2Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Limit_Type_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Limit_Type__c</picklistField>
        <picklistObject>RebateProgram</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>If the current product is a dependant product (ETC, DOC, etc) this will populate with the selected Product, if not product is selected, then product on the Opp line item will be used.</description>
        <name>Formula_Dependant_Product</name>
        <dataType>String</dataType>
        <expression>IF({!Var_ProductID}=&quot;&quot;,{!Loop_Opportunity_Products_for_Benefits.Product2Id},{!Var_ProductID})</expression>
    </formulas>
    <formulas>
        <description>Results as True if the ETC value is selected</description>
        <name>Formula_ETC</name>
        <dataType>Boolean</dataType>
        <expression>{!Incentive_Type} = &quot;ETC&quot;</expression>
    </formulas>
    <formulas>
        <description>Parses the left 18 characters from the ID string</description>
        <name>Formula_Parsed_Benefit_Type_ID</name>
        <dataType>String</dataType>
        <expression>LEFT({!Var_ID_String}, 18)</expression>
    </formulas>
    <formulas>
        <description>Trims the leading 18 ID digits from the formula string</description>
        <name>Formula_Trim_ID_String</name>
        <dataType>String</dataType>
        <expression>RIGHT({!Var_ID_String},LEN({!Var_ID_String})-18)</expression>
    </formulas>
    <formulas>
        <description>Formula to create the incentive program name</description>
        <name>Program_Name</name>
        <dataType>String</dataType>
        <expression>{!Get_Opportunity_Details.Account.Name} + &quot; - &quot; +{!Get_Opportunity_Details.Name}</expression>
    </formulas>
    <interviewLabel>Incentive Program Builder {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Incentive Program Builder</label>
    <loops>
        <description>Loops through the Created Incentive Type Records</description>
        <name>Loop_Created_Incentive_Type_Records</name>
        <label>Loop Created Incentive Type Records</label>
        <locationX>176</locationX>
        <locationY>1514</locationY>
        <collectionReference>Get_All_Created_Incentive_Types</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_ID_s_to_variable_string</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Opportunity_Products_for_Benefits</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop through the opportunity line items.
This loop will Count the Opportunity Line, and begin creating a collection of Rebate Types.</description>
        <name>Loop_Opportunity_Line_Items</name>
        <label>Loop Opportunity Line Items</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <collectionReference>Get_Opportunity_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Incentive_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Incentive_Types</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loops the Opportunity Product Line Items to Create Benefit Records</description>
        <name>Loop_Opportunity_Products_for_Benefits</name>
        <label>Loop Opportunity Products for Benefits</label>
        <locationX>176</locationX>
        <locationY>1814</locationY>
        <collectionReference>Get_Opportunity_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Display_Current_Line_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Benefit_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creates Benefit Records</description>
        <name>Create_Benefit_Records</name>
        <label>Create Benefit Records</label>
        <locationX>176</locationX>
        <locationY>2330</locationY>
        <inputReference>Collection_Benefits</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Create an Incentive Program</description>
        <name>Create_Incentive_Program</name>
        <label>Create Incentive Program</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Update_Initial_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>ATI_Opportunity_Source__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Frequency</field>
            <value>
                <stringValue>OnDemand</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Limit_Type__c</field>
            <value>
                <elementReference>Limit_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Program_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>RebateProgram</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates the required Incentive Type records.</description>
        <name>Create_Incentive_Types</name>
        <label>Create Incentive Types</label>
        <locationX>176</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>Create_Line_Items_Display</targetReference>
        </connector>
        <inputReference>Collection_Incentive_Type</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Create a Program Member Record</description>
        <name>Create_Program_Member</name>
        <label>Create Program Member</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Loop_Opportunity_Line_Items</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Opportunity_Details.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RebateProgramId</field>
            <value>
                <elementReference>Create_Incentive_Program</elementReference>
            </value>
        </inputAssignments>
        <object>RebateProgramMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Gets all previously created Incentive Types</description>
        <name>Get_All_Created_Incentive_Types</name>
        <label>Get All Created Incentive Types</label>
        <locationX>176</locationX>
        <locationY>1406</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Created_Incentive_Type_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RebateProgramId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Incentive_Program</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProgramRebateType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the Opportunity Details of the record this process is initiated from</description>
        <name>Get_Opportunity_Details</name>
        <label>Get Opportunity Details</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets Opportunity Line Items related to this Opportunity</description>
        <name>Get_Opportunity_Line_Items</name>
        <label>Get Opportunity Line Items</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Product_Summary_for_Incentive_Program</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ATI_Requires_Incentive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates the source opportunity with the ID of the created Incentive Program</description>
        <name>Update_Initial_Opportunity</name>
        <label>Update Initial Opportunity</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Create_Program_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ATI_Incentive_Proposal__c</field>
            <value>
                <elementReference>Create_Incentive_Program</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Create_Line_Items_Display</name>
        <label>Create Line Items Display</label>
        <locationX>176</locationX>
        <locationY>1298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_All_Created_Incentive_Types</targetReference>
        </connector>
        <fields>
            <name>Benefit_Setup</name>
            <fieldText>&lt;p&gt;The Incentive Wizard will now take your through each Product that has been flagged for incentive creation, and allow you to set the number of cash back incentives available, and the dollar amount per unit.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;For ETC products, if you wish to provide the warranty free of charge, enter the full sales price of the product.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Displays the current Line Item</description>
        <name>Display_Current_Line_Item</name>
        <label>Display Current Line Item</label>
        <locationX>264</locationX>
        <locationY>1922</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Benefit_Detail</targetReference>
        </connector>
        <fields>
            <name>Display_Product</name>
            <fieldText>&lt;p&gt;The Following Product will be added to the Incentive Program:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Name:  {!Loop_Opportunity_Products_for_Benefits.Product2.Name}&lt;/p&gt;&lt;p&gt;Sales Price:  {!Loop_Opportunity_Products_for_Benefits.UnitPrice}&lt;/p&gt;&lt;p&gt;Sales Quantity:  {!Loop_Opportunity_Products_for_Benefits.Quantity}&lt;/p&gt;&lt;p&gt;Description:  {!Loop_Opportunity_Products_for_Benefits.Description}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Incentive_Type</name>
            <choiceReferences>CashBack</choiceReferences>
            <choiceReferences>ETC</choiceReferences>
            <choiceReferences>Fixed_Price</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Incentive Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Incentive_Quantity</name>
            <dataType>Number</dataType>
            <fieldText>Incentive Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Select the number of products this incentive is available for&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Cashback_Amount_Per_Unit</name>
            <dataType>Currency</dataType>
            <fieldText>Cashback Amount Per Unit</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Enter the amount per unit sold the customer will receive as an Incentive. If this is an ETC product enter the full value.&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Associate_to_Product</name>
            <choiceReferences>Choice_OppProducts</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Associate to Product</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Loop_Opportunity_Products_for_Benefits.ATI_Associate_to_Parent_Model__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Product_Summary_for_Incentive_Program</name>
        <label>Product Summary for Incentive Program</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Incentive_Program</targetReference>
        </connector>
        <fields>
            <name>Wizard_Intro</name>
            <fieldText>&lt;p&gt;Launching this Wizard will initiate the process to create the Incentive Program structure required to submit for approval.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;This wizard will only create the initial program, so ensure you have all of the products you need to create an incentive for added to the Opportunity with the &apos;Incentive Required&apos; box checked. If you do not see the product on the list below, then an incentive record will not be created.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Limit_Type</name>
            <choiceReferences>Limit_Type_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Retroactive or Non-Retroactive?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Opp_Product_List</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>OpportunityLineItem</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Products for Incentive Program</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Opportunity_Line_Items</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;ATI_Product_Name__c&quot;,&quot;guid&quot;:&quot;column-d9d8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Product Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Quantity&quot;,&quot;guid&quot;:&quot;column-9788&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Quantity&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Description&quot;,&quot;guid&quot;:&quot;column-965a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Line Description&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Rebate type benefit collection</description>
        <name>Coll_Rebate_Type_Benefit</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProgramRebateTypeBenefit</objectType>
    </variables>
    <variables>
        <description>Holds the benefit records for record creation</description>
        <name>Collection_Benefits</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProgramRebateTypeBenefit</objectType>
    </variables>
    <variables>
        <description>Collection variable to hold the incentive Type</description>
        <name>Collection_Incentive_Type</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProgramRebateType</objectType>
    </variables>
    <variables>
        <description>Record Variable for Rebate Type benefit</description>
        <name>Record_Benefit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProgramRebateTypeBenefit</objectType>
    </variables>
    <variables>
        <description>Record Variable for Incentive Type</description>
        <name>record_Incentive_Type</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProgramRebateType</objectType>
    </variables>
    <variables>
        <description>Record ID from the source Opportunity</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Variable ID string to populate all Benefit records</description>
        <name>Var_ID_String</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable that holds the choice product ID</description>
        <name>Var_ProductID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
