force-app/main/default/flows/Remove_MTA_when_Campaign_Claim_is_Deleted.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>MTA_Found</name>
        <label>MTA Found</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_Associated_MTA</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_MTA</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>ALSN-210 When a campaign claim is deleted, associated MTA record should be removed too</description>
    <environments>Default</environments>
    <interviewLabel>Remove MTA when Campaign Claim is Deleted {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Remove MTA when Campaign Claim is Deleted</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_MTA</name>
        <label>Delete MTA</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <inputReference>Fetch_Associated_MTA</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Fetch_Associated_MTA</name>
        <label>Fetch Associated MTA</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MTA_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>twodcms__Claim__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>twodcms__Member_Template_Association__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Fetch_Associated_MTA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WOD_2__Claim_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Campaign</stringValue>
            </value>
        </filters>
        <object>WOD_2__Claim__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
</Flow>
