force-app/main/default/flows/Trial_Case_Scheduled_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Reminders_to_Customer</name>
        <label>Send Reminders to Customer</label>
        <locationX>242</locationX>
        <locationY>576</locationY>
        <actionName>Case.Reminder_Email_for_Case</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Reminder_Email_for_Case</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Check_if_Reminder_will_be_sent</name>
        <label>Check if Reminder will be sent</label>
        <locationX>374</locationX>
        <locationY>468</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Send_Reminder</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ATI_TAC_Date_of_Primary_Reminder__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>InterviewStartDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ATI_TAC_Date_of_Secondary_Reminder__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>InterviewStartDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Reminders_to_Customer</targetReference>
            </connector>
            <label>Yes, Send Reminder</label>
        </rules>
    </decisions>
    <decisions>
        <description>This decision will check the custom setting and skip the flow.</description>
        <name>Quick_Exit</name>
        <label>Quick Exit</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <defaultConnector>
            <targetReference>update_case_to_closed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Skipped</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.ATI_Record_Bypass_Settings__c.ATI_TAC_Flow_Skip__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Skipped</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>InterviewStartDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$Flow.InterviewStartTime})</expression>
    </formulas>
    <formulas>
        <name>today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Trial Case Scheduled Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Trial Case Scheduled Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>update_case_to_closed</name>
        <label>update case to closed</label>
        <locationX>374</locationX>
        <locationY>360</locationY>
        <connector>
            <targetReference>Check_if_Reminder_will_be_sent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ATI_TAC_Auto_Close_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InterviewStartDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Resolved</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ATI_TAC_Case_Close_Checkbox__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Quick_Exit</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>ATI_TAC_Auto_Close_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ATI_TAC_Date_of_Primary_Reminder__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ATI_TAC_Date_of_Secondary_Reminder__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2024-01-23</startDate>
            <startTime>11:17:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>case_records</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
