force-app/main/default/flows/Update_Inventory_Related_Case_Data_For_Data_Migration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Check_Custom_field_value</name>
        <label>Check Custom field value</label>
        <locationX>770</locationX>
        <locationY>382</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Primary_Serial_Inventory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Update_Field_For_Data_Loader__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ATI_PrimarySL_Inventory__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Update_Field_For_Data_Loader__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Primary</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Inventory_record_For_Primary_Serial_update</targetReference>
            </connector>
            <label>Check Primary Serial Inventory</label>
        </rules>
        <rules>
            <name>Check_Secondary_Serial_For_Inventory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Update_Field_For_Data_Loader__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ATI_SecondarySL_Inventory__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Update_Field_For_Data_Loader__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Secondary</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Inventory_record_For_Secondary_Serial_update</targetReference>
            </connector>
            <label>Check Secondary Serial For Inventory</label>
        </rules>
        <rules>
            <name>Check_Third_Serial_For_Inventory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Update_Field_For_Data_Loader__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ATI_Third_SL_Inventory__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Update_Field_For_Data_Loader__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Third</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Inventory_record_For_Third_Serial_update</targetReference>
            </connector>
            <label>Check Third Serial For Inventory</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Record_Found_with_same_Inventory_Name</name>
        <label>Is Record Found with same Inventory Name</label>
        <locationX>767</locationX>
        <locationY>778</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Primary_serial_Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Inventory_record_For_Primary_Serial_update.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Inventory_Related_ATI_TAC_Inventory_Serial_Number_c</targetReference>
            </connector>
            <label>Is Primary serial Record Found ?</label>
        </rules>
        <rules>
            <name>Is_Secondary_Serial_Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Inventory_record_For_Secondary_Serial_update.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Inventory_related_ATI_TAC_esssn_c_Case_Field</targetReference>
            </connector>
            <label>Is Secondary Serial Record Found ?</label>
        </rules>
        <rules>
            <name>Is_Third_Serial_Number_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Inventory_record_For_Third_Serial_update.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Inventory_Related_ATI_TAC_dpimsn_c_Case_Field</targetReference>
            </connector>
            <label>Is Third Serial Number Found ?</label>
        </rules>
    </decisions>
    <description>Update the Inventory related field for data loader using custom fields</description>
    <environments>Default</environments>
    <formulas>
        <name>CheckChangeValueofUpdatedField</name>
        <dataType>Boolean</dataType>
        <expression>PRIORVALUE({!$Record.Update_Field_For_Data_Loader__c})&lt;&gt;{!$Record.Update_Field_For_Data_Loader__c}</expression>
    </formulas>
    <interviewLabel>Update Inventory Case Data For Data Migrtaion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Inventory Related Case Data For Data Migration</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Inventory_record_For_Primary_Serial_update</name>
        <label>Get Inventory record For Primary Serial update</label>
        <locationX>367</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Record_Found_with_same_Inventory_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ATI_PrimarySL_Inventory__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WOD_2__Inventory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Inventory_record_For_Secondary_Serial_update</name>
        <label>Get Inventory record For Secondary Serial  update</label>
        <locationX>775</locationX>
        <locationY>580</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Record_Found_with_same_Inventory_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ATI_SecondarySL_Inventory__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WOD_2__Inventory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Inventory_record_For_Third_Serial_update</name>
        <label>Get Inventory record For Third Serial update</label>
        <locationX>1096</locationX>
        <locationY>497</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Record_Found_with_same_Inventory_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ATI_Third_SL_Inventory__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WOD_2__Inventory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Inventory_Related_ATI_TAC_dpimsn_c_Case_Field</name>
        <label>Update Inventory Related ATI_TAC_dpimsn__c Case Field</label>
        <locationX>1298</locationX>
        <locationY>1084</locationY>
        <inputAssignments>
            <field>ATI_TAC_dpimsn__c</field>
            <value>
                <elementReference>Get_Inventory_record_For_Third_Serial_update.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Inventory_related_ATI_TAC_esssn_c_Case_Field</name>
        <label>Update Inventory related ATI_TAC_esssn__c Case Field</label>
        <locationX>808</locationX>
        <locationY>1079</locationY>
        <inputAssignments>
            <field>ATI_TAC_esssn__c</field>
            <value>
                <elementReference>Get_Inventory_record_For_Secondary_Serial_update.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Inventory_Related_ATI_TAC_Inventory_Serial_Number_c</name>
        <label>Update Inventory Related ATI_TAC_Inventory_Serial_Number__c</label>
        <locationX>370</locationX>
        <locationY>1109</locationY>
        <inputAssignments>
            <field>ATI_TAC_Inventory_Serial_Number__c</field>
            <value>
                <elementReference>Get_Inventory_record_For_Primary_Serial_update.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_Custom_field_value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ATI_TAC_External_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>caserecordid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
