force-app/main/default/flows/User_After_Insert_Update_Flow_User_Check.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Check_License</name>
        <label>Check License</label>
        <locationX>1194</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>End</defaultConnectorLabel>
        <rules>
            <name>Checking_Flow_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.UserPermissionsInteractionUser</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Flow_User</targetReference>
            </connector>
            <label>Checking Flow User</label>
        </rules>
        <rules>
            <name>TAC_Group_Assignment_check</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ATI TAC Team</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ATI Warranty Claim Processor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ATI Warranty Admin</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ATI_TAC_Team</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_the_TAC_Permission_set_Group</targetReference>
            </connector>
            <label>TAC Group Assignment check</label>
        </rules>
        <rules>
            <name>PRP_Permission_Assignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PRP Admin</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PRP_Permission_set</targetReference>
            </connector>
            <label>PRP Permission Assignment</label>
        </rules>
        <rules>
            <name>Custom_Platform_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Custom Platform User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CSM_Permission_set_Id</targetReference>
            </connector>
            <label>Custom Platform User</label>
        </rules>
        <rules>
            <name>Sales_Group_Assighment</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ATI Sales Team</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ATI_Sales_Team</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_the_Sales_Permission_set_Group</targetReference>
            </connector>
            <label>Sales Group Assighment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Sales_Permission_Set_Group_Record_Exists</name>
        <label>Check Sales Permission Set Group Record Exists</label>
        <locationX>2030</locationX>
        <locationY>600</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sales_Permission_Set_Group_not_assign_to_the_user</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Identify_the_Sales_Permission_set_group_already_assigned</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Sales_Permission_set_Group</targetReference>
            </connector>
            <label>Sales Permission Set Group not assign to the user</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_TAC_Permission_Set_Group_Record_Exists</name>
        <label>Check TAC Permission Set Group Record Exists</label>
        <locationX>446</locationX>
        <locationY>600</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TACPermission_Set_Group_not_assign_to_the_user</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Identify_the_Permission_set_group_already_assigned</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_TAC_Permission_set_Group</targetReference>
            </connector>
            <label>TACPermission Set Group not assign to the user</label>
        </rules>
    </decisions>
    <decisions>
        <name>CSM_Permission_Set_Record_Exists</name>
        <label>CSM Permission Set Record Exists</label>
        <locationX>1502</locationX>
        <locationY>600</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CSM_Permission_Set_not_assign_to_the_user</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Identify_CSM_Permission_set_already_assigned</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CSM_Permission_set_Assignment</targetReference>
            </connector>
            <label>CSM Permission Set not assign to the user</label>
        </rules>
    </decisions>
    <decisions>
        <name>PRP_Permission_Set_Record_Exists</name>
        <label>PRP Permission Set Record Exists</label>
        <locationX>974</locationX>
        <locationY>600</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PRP_Permission_Set_not_assign_to_the_user</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Identify_the_PRP_Permission_set_already_assigned</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PRP_Permission_set_Assignment</targetReference>
            </connector>
            <label>PRP Permission Set not assign to the user</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>User: After Insert/Update: Flow User Check {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User: After Insert/Update: Flow User Check</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Assign_Sales_Permission_set_Group</name>
        <label>Assign Sales Permission set Group</label>
        <locationX>1898</locationX>
        <locationY>708</locationY>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetGroupId</field>
            <value>
                <elementReference>Get_the_Sales_Permission_set_Group.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Assign_TAC_Permission_set_Group</name>
        <label>Assign TAC Permission set Group</label>
        <locationX>314</locationX>
        <locationY>708</locationY>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetGroupId</field>
            <value>
                <elementReference>Get_the_TAC_Permission_set_Group.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CSM_Permission_set_Assignment</name>
        <label>CSM Permission set Assignment</label>
        <locationX>1370</locationX>
        <locationY>708</locationY>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <elementReference>Get_CSM_Permission_set_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>PRP_Permission_set_Assignment</name>
        <label>PRP Permission set Assignment</label>
        <locationX>842</locationX>
        <locationY>708</locationY>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <elementReference>PRP_Permission_set.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_CSM_Permission_set_Id</name>
        <label>Get CSM Permission set Id</label>
        <locationX>1502</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Identify_CSM_Permission_set_already_assigned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATI_PRP_CSM_Permission_Set</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_Sales_Permission_set_Group</name>
        <label>Get the Sales Permission set Group</label>
        <locationX>2030</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Identify_the_Sales_Permission_set_group_already_assigned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATI_Sales_User</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetGroup</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_TAC_Permission_set_Group</name>
        <label>Get the TAC Permission set Group</label>
        <locationX>446</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Identify_the_Permission_set_group_already_assigned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATI_TAC_User</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetGroup</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Identify_CSM_Permission_set_already_assigned</name>
        <label>Identify CSM Permission set already assigned</label>
        <locationX>1502</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CSM_Permission_Set_Record_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_CSM_Permission_set_Id.Id</elementReference>
            </value>
        </filters>
        <object>PermissionSetAssignment</object>
        <outputReference>CSMPermissionsetRecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Identify_the_Permission_set_group_already_assigned</name>
        <label>Identify the Permission set group already assigned</label>
        <locationX>446</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_TAC_Permission_Set_Group_Record_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_the_TAC_Permission_set_Group.Id</elementReference>
            </value>
        </filters>
        <object>PermissionSetAssignment</object>
        <outputReference>TACPermission_Set_Group_Check</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Identify_the_PRP_Permission_set_already_assigned</name>
        <label>Identify the PRP Permission set already assigned</label>
        <locationX>974</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PRP_Permission_Set_Record_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PRP_Permission_set.Id</elementReference>
            </value>
        </filters>
        <object>PermissionSetAssignment</object>
        <outputReference>PRP_PermissionSet</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Identify_the_Sales_Permission_set_group_already_assigned</name>
        <label>Identify the Sales Permission set group already assigned</label>
        <locationX>2030</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Sales_Permission_Set_Group_Record_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_the_Sales_Permission_set_Group.Id</elementReference>
            </value>
        </filters>
        <object>PermissionSetAssignment</object>
        <outputReference>TACPermission_Set_Group_Check</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>PRP_Permission_set</name>
        <label>PRP Permission set</label>
        <locationX>974</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Identify_the_PRP_Permission_set_already_assigned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATI_PRP_Admin_Permission_Set</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Check_Flow_User</name>
        <label>Check Flow User</label>
        <locationX>50</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>UserPermissionsInteractionUser</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>364</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UserType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </filters>
        <object>User</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Waiting_time</name>
            <connector>
                <targetReference>Check_License</targetReference>
            </connector>
            <label>Waiting time to assign the profile for newly created users and Updated users</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CSMPermissionsetRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <name>Permission_set_group_Check</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PRP_PermissionSet</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <name>TACPermission_Set_Group_Check</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
</Flow>
